.notification-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    border-top: 1px solid rgb(57, 57, 57);
    margin-bottom: 80px;
  }
  
  .notification-list {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    cursor: pointer;
    margin: 0px;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(57, 57, 57);
  }
  
  .active {
    background-color: rgb(33, 33, 33);
  }

  
  .thread-description {
    font-family: 'Jockey One', sans-serif;
    font-size: 25px;
    margin-top: 0px;
  }
  
  .timestamp {
    font-family: 'Jockey One', sans-serif;
    font-size: 15px;
    margin-top: 0px;
  }